# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

/elasticsearch
/kaizen
/.idea
*.docx
/bin/temp_word2vec.txt
/kaizen.lnk
/ir2020_1059336.zip
/bin/glove.wv
/glove.6B.zip
/elasticsearch.lnk
/bin/glove.6B.100d.txt
/bin/glove.wv.vectors.npy
/Αναφορά.docx
/bin/temp_word2vec.txt
